@import '.././styles/Base/Base.scss';

.modal{
    &__parent {
        position: absolute;
        top: 40px;
        left: 100px;
        right: 100px;
        bottom: 40px;
        overflow: auto;
        background-color: white;
        padding: 10px 30px;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: grey;
    }
}

.add__product {
    &-title{
        @include tablet{
            margin-bottom: 24px;
        }
    }
    &-form{
        @include tablet{
            display: flex;
            flex-direction: column;
        }
    }

    &-section {
        display:flex;
        justify-content: space-between;
    }

    &-article{
        display: flex;
        flex-direction: column;
        @include tablet{
            margin-right: 24px;
        }
    }

    &-entry-group{
        display: flex;
        flex-direction: column;
        @include tablet{
            margin-bottom: 24px;
        }
    }

    &-entry-field{
        margin-top: 10px;
        padding-left: 5px;
        border: 1px solid black;
        border-radius: 4px;
        @include tablet{
            width: 220px;
            height:48px;
        }
    }

    &-description{
        margin-top: 10px;
        padding-left: 5px;
        border: 1px solid black;    
        border-radius: 4px;
        @include tablet{
            width: 480px;
            height: 80px;
        }
    }

    &-buttons{
        justify-content: flex-end;
        display: flex;
        margin-top: 24px;
    }

    &-button{
        @include tablet{
            margin-right: 24px;
        }
    }
}


