@import '../../styles/Base/Base.scss';
@import '../../styles/Base/Mixin.scss';
@import '../../styles/Base/Variables.scss';

.title-search-header {

    &__flex-div {

        margin-left: $margin-one;

        @include tablet {
            display: flex;
            justify-content: space-between;
            margin: 0px $margin-two;
        }

        @include desktop {
            margin: 0px $margin-five;
        }
    }

    &__title {
        color: #323232;
        font-size: 24px;
        font-family: 'AvenirNextLTPro-Bold', sans-serif;
        font-weight: $font-weight-medium;
        margin-top: $margin-three; 
        margin-bottom: $margin-one;

        @include tablet {
            font-size: 36px;
        }
    }

    &__input {
        padding-left: 20px;
        width: 75%; 
        background-color: #fafafa;
        border-color: #e1e1e1;
        border-radius: 5px;
        padding-top: 1.375rem;
        margin-bottom: $margin-three;
     
        @include tablet {
            width: 35%;
            margin-top: $margin-one;
        }

        &:focus {
            border: solid 2px #323232;
            outline: none;
        }

        &::placeholder {
            background-image: url(../../assets/Icons/Icon-search.svg);
            background-repeat: no-repeat; 
            color: #323232;
            font-size: 1.2rem;
        }
    }
}




